# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CI/PR build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 #nbgv doesn't work with shallow checkout
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Create output directory
      run: |
        echo "NuGetDirectory=./artifacts" >> $GITHUB_ENV
        mkdir -p ${{ env.NuGetDirectory }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Run Tests
      run: dotnet test --no-restore --verbosity normal
    - name: Build and pack
      run: dotnet pack --no-restore --bl --configuration Release --output ${{ env.NuGetDirectory }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build artifacts
        path: |
          ${{ env.NuGetDirectory }}/libman.audit.*.nupkg
          ${{ env.NuGetDirectory }}/libman.audit.*.snupkg
          **/*.binlog
          **/*.trx
